@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dane osobiste";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Twoje konto zawiera dane osobiste, które nam przekazałeś. Ta strona pozwala na pobranie lub usunięcie tych danych.</p>
        <p>
            <strong> Usunięcie tych danych na zawsze usunie twoje konto i nie będzie można go odzyskać.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-dark" type="submit">Download</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Usuń</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
